* text=auto

*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.glb binary
*.zip binary
*.7z binary
*.tar binary
*.gz binary
