/out/
/.vs/
/CMakeUserPresets.json
/imgui.ini
/.idea/
/artifacts/
/packages/
/release/
CMakeCache.txt
CMakeFiles/
*.obj
*.bmi
*.gcm
*.ifc
*.pcm
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.exe
*.log
*.dmp
*.zip
*.7z
*.tar
*.tar.gz
*.user
*.suo
